.skeleton {
  height: 100%;
  transform: translate(100%);
  animation: 1.5s leftToRight linear infinite;

  &-wrapper {
    background-color: #ddd;
    height: 40px;
    max-width: 400px;
    overflow: hidden;
    margin: 20px;

    &-circle {
      height: 100px;
      width: 100px;
      border-radius: 50%;
    }
  }

  &-indicator {
    width: 60px;
    background: linear-gradient(to right, transparent, #bbb , transparent);
    height: 100%;
  }
}

@keyframes leftToRight {
  from {
    transform: translate(0);
  }

  to {
    transform: translate(100%);
  }
}